<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{{ form }}
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Movie_name</th>
      <th scope="col">Movie_poster</th>
      <th scope="col" class="center">Description</th>
      <th scope="col">Release_date</th>
      <th scope="col">cast</th>
      <th scope="col">ratings</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr>
        <td><a href={{ item.url_movie }}>{{ item.name }}</td>
        <td><img src=" {{ item.url }}"></td>
        <td>{{ item.desc|render|striptags }}</td>
        <td>{{ item.date }}</td>
        <td>
        {% for x in item.cast %}
          <a href={{ x.urls }}>{{ x.name }}</a>
        {% endfor %}
        </td>
        <td width=103px>
        {% if item.rating >= 1 %}
          {% for star in range(1,item.rating) %}
            <span class="fa fa-star checked"></span>
          {% endfor %}
        {% endif %}
        {% if item.halfStarFlag %}
          <i class="fa fa-star-half checked"></i>
        {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
